/* Resetowanie domyślnych stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylowanie ciała */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Stylowanie nawigacji */
.nav-menu {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* Stylowanie tytułu */
.nav-menu .title {
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

/* Stylowanie menu */
.nav-menu .menu {
    display: flex;
}

.nav-menu .menu ul {
    list-style: none;
    display: flex;
}

/* Stylowanie linków w menu */
.nav-menu .menu-link {
    margin-left: 20px;
    font-size: 16px;
    color: #666;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Stylowanie linków w menu na hover */
.nav-menu .menu-link:hover {
    color: #000;
}

/* Stylowanie przycisku hamburgera */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    border: none;
    background: none;
    padding: 10px;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.3s;
}

/* Stylowanie aktywnego menu */
.nav-menu .menu.active {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
}

.nav-menu .menu.active ul {
    flex-direction: column;
}

.nav-menu .menu.active .menu-link {
    margin: 10px 0;
}

/* Stylowanie kontenera z zawartością */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    width: 90%;
    max-width: 800px;
}

/* Stylowanie obrazka */
.rounded-image {
    width: 100%;
    max-width: 70rem;
    border-radius: 15px;
    margin-bottom: 20px;
}

/* Stylowanie tytułu */
.centered-title {
    font-size: 32px;
    color: #333;
}

/* Stylowanie kontenera z zawartością */
.content-container {
    text-align: center;
    margin-top: 50px;
    width: 90%;
    max-width: 1200px;
}

/* Stylowanie nagłówka */
.content-container h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
}

/* Stylowanie kroków */
.step-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dwa kwadraty na wiersz */
    gap: 20px;
}

.step {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 200px; /* Wysokość kwadratów */
    text-align: center;
}

/* Stylowanie tekstu kroków */
.step-text {
    color: #333;
    font-size: 18px;
}

.icon {
    font-size: 24px;
}

.occupied {
    color: red;
}

.free {
    color: green;
}

.btn {
    background-color: #ffc107;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e0a800;
}

/* Stylowanie tabeli */
.table {
    width: 100%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}

.table thead {
    background-color: #333;
    color: #fff;
}

.table th, .table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.table th {
    font-weight: bold;
}

/* Stylowanie stopki */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    margin-top: 5rem;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

/* Media Queries dla responsywności */
@media (max-width: 768px) {
    .nav-menu .menu {
        display: none;
    }
    
    .hamburger {
        display: flex;
    }

    .step-container {
        grid-template-columns: 1fr; /* Jeden kwadrat na wiersz */
    }

    .nav-menu .menu.active {
        width: 100%;
        left: 0;
    }
}
